@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200&family=Rubik:wght@400;500;700&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f6fa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

form button {
  font-weight: 600;
  color: white;
}

strong,
.text--bold {
  font-weight: 600;
}

p {
  font-weight: 300;
}

.text--blue {
  color: #5457b6;
}

.text--red {
  color: #ed6468;
}

.comment__duration {
  color: #67727e;
}

.loz--tag {
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.comment__upvote,
.comment__downvote {
  color: #c3c4ef;
  font-weight: 700;
  font-size: 1.2rem;
}

.comment__reply,
.comment__ownOptions {
  font-size: 0.9rem;
}

.comment__reply button,
.comment__ownOptions button {
  font-size: 0.9rem;
}

body {
  font-family: "Rubik", sans-serif;
}

form textarea {
  font-family: "Rubik", sans-serif;
}

.commentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 2rem 0;
  gap: 1rem;
  width: 95%;
  max-width: 43.75rem;
}

.comment {
  background-color: white;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 1px #eaecf1);
          filter: drop-shadow(0px 0px 1px #eaecf1);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.comment .loz--tag {
  background-color: #5457b6;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
}

.comment--subThread {
  position: relative;
  width: 95%;
  margin-left: auto;
}

.comment--subThread::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: -5%;
  background-color: #eaecf1;
}

.comment__voting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #f5f6fa;
  padding: 7px 10px;
  border-radius: 10px;
}

.comment__upvote, .comment__downvote {
  -webkit-transition: 0.15s cubic-bezier(0.23, 1, 0.32, 1) all;
  transition: 0.15s cubic-bezier(0.23, 1, 0.32, 1) all;
}

.comment__upvote:hover, .comment__downvote:hover {
  color: #5457b6;
}

.comment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.comment__body p {
  line-height: 1.3;
}

.comment__userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.comment__userImage img {
  max-width: 30px;
}

.comment__reply, .comment__ownOptions {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 7px 0;
}

.comment__reply i, .comment__ownOptions i {
  -webkit-transition: 0.15s cubic-bezier(0.23, 1, 0.32, 1) all;
  transition: 0.15s cubic-bezier(0.23, 1, 0.32, 1) all;
  padding-right: 6px;
}

.comment__reply:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.comment__ownOptions button i {
  -webkit-transition: 0.15s cubic-bezier(0.23, 1, 0.32, 1) all;
  transition: 0.15s cubic-bezier(0.23, 1, 0.32, 1) all;
}

.comment__ownOptions button:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (min-width: 768px) {
  .comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem 1.5rem;
  }
  .comment__voting {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .comment__reply, .comment__ownOptions {
    bottom: unset;
    top: 2rem;
  }
}

.addComment {
  background-color: white;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 0px 1px #eaecf1);
          filter: drop-shadow(0px 0px 1px #eaecf1);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

.addComment__userImage {
  position: absolute;
  bottom: 1rem;
}

.addComment__userImage img {
  max-width: 35px;
}

.addComment form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1rem;
}

.addComment form textarea {
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 1px solid #eaecf1;
  border-radius: 10px;
}

.addComment form textarea:focus, .addComment form textarea:active {
  outline: 2px solid #5457b6;
}

.addComment form button {
  background: #5457b6;
  padding: 15px 20px;
  border-radius: 10px;
  -webkit-transition: 0.1s cubic-bezier(0.23, 1, 0.32, 1) all;
  transition: 0.1s cubic-bezier(0.23, 1, 0.32, 1) all;
}

.addComment form button:hover {
  background: #c3c4ef;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 768px) {
  .addComment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .addComment__userImage {
    position: relative;
    bottom: unset;
  }
  .addComment form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */