@import "../abstracts/variables";
@import "../abstracts/mixins";

body {
    @include flex--center;
    background-color: $neutVLightGrey;
    flex-direction: column;
    padding-bottom: 2rem;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}