// Colours
$primModBlue: hsl(238, 40%, 52%);
$primSoftRed: hsl(358, 79%, 66%);
$primGreyBlue: hsl(239, 57%, 85%);
$primPaleRed: hsl(357, 100%, 86%);

$neutDarkBlue: hsl(212, 24%, 26%);
$neutGreyBlue: hsl(211, 10%, 45%);
$neutLightGrey: hsl(223, 19%, 93%);
$neutVLightGrey: hsl(228, 33%, 97%);
